# Default ignored files
/.idea
/target
*.iml
*.pdf
*.txt
*.crv
# Datasource local storage ignored files
/../../../../../:\software\java-projects\FlashCardGenerator\.idea/dataSources/
/dataSources.local.xml

